{% extends 'base.html.j2' %}

{% block header %}
  <h1>{% block title %}Account info{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% include 'info/baseAccountInfo.html.j2' %}
{% endblock %}
