<article class="post">
  <header>
    <div>
      <h1>Ticket ID: {{ ticket['ticketID'] }}</h1>
    </div>
  </header>
  <div class="body">
      Ticket owner ID: {{ ticket['userID'] }}
      Ticket owner name: {{ ticket['username'] }}
  </div>
</article>